/* Base styles */

menubar {
  z-index: 10;
}

/* top menu */
menubar button {
  position: relative;
}

/* menu items */
menubar ul {
  margin: 0;
  position: absolute;
  list-style-type: none;
}
menubar li {
  white-space: nowrap;
}

/* trigger */
menubar .trigger {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
menubar button, menubar ul {
  z-index: 1;
}


/* Custom styles */

menubar {
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
}
menubar button {
  border: none;
  font: inherit;
  background: transparent;
}
menubar ul {
  min-width: 150px;
  padding: 4px 0;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .5);
}
menubar li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
menubar li.selected {
  background: rgba(33, 150, 243, .25);
}
menubar button, menubar li {
  line-height: 1.8;
  padding: 0 8px;
}
menubar :focus {
  outline: none;
}
menubar button.focused {
  background: rgba(0,0,0,.15);
}
menubar li span {
  flex: 1;
  text-align: end;
  margin-left: 1em;
}
menubar li span::after {
  content: attr(after);
  color: grey;
}
menubar li .fa {
  margin-right: 4px;
}
